<footer class="footer-main">
    {{ site.name }} © {{ site.time | date: '%Y' }} <a class="link" href="{{ site.url }}/feed.xml" target="_blank"><svg class="icon icon-rss"><use xlink:href="#icon-rss"></use></svg></a>

    <p class="extra">
        <a class="link" href="https://github.com/sergiokopplin/indigo">Indigo theme</a> by <a class="link" href="http://koppl.in">Kopplin</a>
    </p>

    <a href="https://www.easycounter.com/">
        <img src="https://www.easycounter.com/counter.php?sebasmos"
        border="0" alt="Free Web Counter"></a> Since Sep, 2022
</footer>
